<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add name="micabcorp" connectionString="Data Source=15.15.1.105;Initial Catalog=micabcorp;Persist Security Info=True;User ID=MasterIT;Password=L7K0gv3lZa" />
    <add name="seguridad" connectionString="Data Source=15.15.1.105; FailOver Partner=15.15.1.2; Initial Catalog=Seguridad_micabcorp;Persist Security Info=True;User ID=MasterIT;Password=L7K0gv3lZa" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <appSettings>
    <add key="NAME" value="SapQA" />
    <add key="SAP_CLIENT" value="600" />
    <add key="SAP_LANGUAGE" value="ES" />
    <add key="SAP_POOLSIZE" value="10" />
    
    <!--QA-->
    <!---->
    <add key="SAP_USERNAME" value="BPMUSER" />
    <add key="SAP_PASSWORD" value="inicio" />
    <add key="SAP_APPSERVERHOST" value="15.15.1.93" />
    <add key="SAP_SYSTEMNUM" value="00" />
    
    <!--PRODUCTIVO-->
    <!--
    <add key="SAP_USERNAME" value="ULIQGT" />
    <add key="SAP_PASSWORD" value="PASSGT11" />
    <add key="SAP_APPSERVERHOST" value="15.15.1.80" />
    <add key="SAP_SYSTEMNUM" value="00" />
    -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>